// ----------Base button----------
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 26px;
    border: none;
    border-radius: 10px;
    font-weight: 500;
    line-height: normal;
    white-space: nowrap;
}

// ----------Buttons due to sizes----------
.btn-S {
  height: 36px;
  width: 110px;
  letter-spacing: 0.48px;
  font-size: $body-font-size;
}

// ----------Buttons due to the type----------

.btn-primary {
  background: $orange-300;
  color: $white-100;

    &:hover, &:focus {
      background: $orange-200;
      box-shadow: 0px 5px 5px -3px rgba(127, 143, 164, 0.20), 0px 3px 14px 2px rgba(127, 143, 164, 0.12);
    }

    &:disabled {
      background: $grey-200;
      box-shadow: none;
      cursor: not-allowed;
    }
}

.btn-outline {
  color: $orange-300;
  background: $yellow-100;

  &:hover, &:focus {
    background: $orange-100;
    color: $white-100;
    box-shadow: 0px 5px 5px -3px rgba(127, 143, 164, 0.20), 0px 3px 14px 2px rgba(127, 143, 164, 0.12);
  }
  &:disabled {
    color: $grey-200;
    border: $grey-200;
    box-shadow: none;
    cursor: not-allowed;
  }
}
