@import 'variables.scss';

.time {
  display: flex;
  align-items: center;
  gap: 2px;

  &_icon {
    font-size: 20px;
    color: $blue-200;
  }

  &_value {
    font-size: $body-font-size;
    color: $grey-300;
    font-weight: 500;
    letter-spacing: -1px;
  }
}

.icon-stopwatch:before {
  content: "\e952";
}
