@import 'variables';

.rating {
  display: flex;
  gap: 4px;
  align-items: center;

  &_star {
    font-size: 18px;
    color: $yellow-300;
  }
}

.icon-star-empty:before {
  content: "\e9d7";
}
.icon-star-half:before {
  content: "\e9d8";
}
.icon-star-full:before {
  content: "\e9d9";
}
