<span class="overlay"></span>
<div class="modal-box">
  <p class="icon-cross modal-box_close-icon"></p>

  <div class="modal-box_info">
    <app-title-h3 class="modal-box_info_title" titleText="Please register or sign in"></app-title-h3>
    <p class="modal-box_info_text">To add the recipe to your cookbook you need to have an account</p>
  </div>

  <img  class="modal-box_img" src="/assets/images/avocado_toast.webp" alt="Avocado toast">

  <div class="modal-box_buttons">
    <button class="btn btn-M btn-outline">Log in</button>
    <button class="btn btn-M btn-primary">Sign in</button>
  </div>
</div>
