@import '/src/styles/base/variables.scss';

.recipe {
  width: 330px;
  height: 384px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
  background-image: linear-gradient($white-color, $yellow-light-color);
  border-radius: 30px;
  padding: 16px 16px 22px 16px;

  &_picture {
    width: 298px;
    height: 200px;
    border-radius: inherit;
  }

  &_title {
    font-size: $h3-font-size;
    padding: 0px 8px;
    font-weight: 500;
    height: 56px;
  }

  &_info {
    padding: 0px 8px;
  }
}
