<div class="recipe">
  <img [src]="recipe.picture" class="recipe_picture" alt="Dish picture">
  <div>
    <p class="recipe_title"
       [class.three-dots-in-the-end]="titleHeight > 53"
       #title>
       {{recipe.title | titlecase}}
    </p>
    <p *ngIf="title.classList.contains('three-dots-in-the-end')">{{recipe.title}}</p>
  </div>

  <div class="recipe_info">
    <app-cooking-time [cookingTime]="recipe.cookingTime"></app-cooking-time>
    <app-stars-rate [rating]="recipe.rating"></app-stars-rate>
  </div>
</div>

