:root {
  // --colors

  --yellow-dark-color: #F6BE00;
  --yellow-light-color: #FFDF80;
  --white-color: #FFFFFF;
  --grey-light-color: #9F9F9F;
  --black-color: #000;

  // --font-sizes--

  --h1-font-size: 34px;
  --h2-font-size: 24px;
  --h3-font-size: 22px;
  --subtitle-font-size: 20px;
  --body-big-font-size: 18px;
  --body-font-size: 16px;
  --body-details-font-size: 14px;
}
