// --colors--

$orange-400: #E28500;
$orange-300: #FB9400;
$orange-200: #FFB449;
$orange-100: #FFEBCD;

$yellow-300: #FACC15;
$yellow-100: #FFF5E6;

$white-100: #FFFFFF;

$grey-300: #9CA3AF;
$grey-200: #9F9F9F;
$grey-100: #E9EAEC;

$blue-800: #0F172A;
$blue-600: #1E293B;
$blue-200: #64748B;

// --font-sizes--

$h1-font-size: 52px;
$h2-font-size: 48px;
$h3-font-size: 22px;
$subtitle-font-size: 20px;
$body-big-font-size: 18px;
$body-font-size: 16px;
$body-details-font-size: 14px;

