// --colors--

$yellow-dark-color: #ffc40c;
$yellow-light-color: #fffdaf;
$white-color: #FFFFFF;
$grey-medium-color: #696969;
$grey-light-color: #9F9F9F;
$grey-super-light-color: #E9EAEC;
$black-color: #000;

// --font-sizes--

$h1-font-size: 52px;
$h2-font-size: 48px;
$h3-font-size: 22px;
$subtitle-font-size: 20px;
$body-big-font-size: 18px;
$body-font-size: 16px;
$body-details-font-size: 14px;

